{% extends 'layout/layout.html.twig' %}

{% block body %}
    <div class="containerBackground">
        <h3>Fiche individuel de salaire vide pour le <strong>mois de: {{ mois }} </strong></h3>
        <br/>
    <div/>
{% endblock %}